* { margin: 0; }
nav{
    background-color:#48655A;
}

#navbar-img{
    display: block;
    height: 40px;
    width: auto;
    padding: 0;
    margin-left: 0;
    margin-right: 10px;
    
}

nav h1{
  font-size: 30px;
}

.p-5{
  display: flex;
  flex-basis: 0;  
  
  border: 1px solid black;
  

}
#image {
  position: absolute;
  background-image: url(./images/27308724657_dd71a9d7f8_k.jpg);
  background-position: 0 -100px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0.7;
  
  
}


body::before {
    display: block;
    content: '';
    height: 70px;
  }

#myVideo {
    position: fixed;
    
    bottom: 50px;
    min-width: auto;
    min-height: auto;
  }

  .current {
      color: black;

  }

  .Image{
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 307px;
    object-fit: cover;
    padding: 0;
    margin: 0;
    
  }

  .storeCard{
    display: inline;
    padding: 5px;
  }

  @media (min-width: 768px) {
    
    #image {
      position: absolute;
      background-image: url(./images/background.jpg);
      background-position: 0 -100px; 
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 700px;
      z-index: 2;
      opacity: 0.4;
    }
    
    #tImg {
      position: absolute;
      background-image: url(./images/team\ background.jpg);
      background-position: 0 -100px; 
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    
      opacity: 0.4;
    }
  }


 